.git/**
.gitignore
GOAL.md
.vscode-test/**
node_modules/**
src/**
tsconfig.json
package-lock.json
out/**/*.map
out/**/*.test.js
example.txt
example.txtjet
example.txtjet.txt
private-examples/**
*.vsix
*.log
.DS_Store
